
.accordion-container{
  width: 65%;
}
.accordion {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 24px;
  }
  
  .accordion-item {
    display: flex;
    /* flex-wrap: wrap; */
    border: 1px solid #b9bbc6;
    border-radius: 16px;
    padding: 24px 28px;
    /* min-width: 400px; */
    width: 100%;
    /* max-width: 650px; */
    cursor: pointer;
  }
  
  .accordion-item-header span {
    font-size: calc(.2vw + 15px);
    font-weight: 600;
    line-height: 0;
    color: #1c2024;
  }
  
  .accordion-item-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .accordion-item-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #60646c;
  }

@media screen and (max-width: 881px ) {
  .accordion-container{
    width: 100%;
  }
}

  @media screen and (max-width: 767px) {
    .accordion-item-header span{
      font-size: 14px;
      line-height: 20px;
    }
    .accordion-item-content p{
      font-size: 14px;
      line-height: 20px;
    }
    .faq-parent{
      gap:28px;

    }
   
  }