.carousel {
  overflow: hidden;
  width: 100%;
  position: relative;

}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
  max-width: 100%;
  /* padding: 10px; */
  box-sizing: border-box;
}

.carousel-img {
  max-height: 195px;
  height: 195px;
  border-radius: 16px;
  width: 352px;
  max-width: inherit;
}

.carousel-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 10px; */
}

.carousel-btn:hover {
  background-color: #0056b3;
}

.carousel-dots {
  display: flex;
  position: absolute;
  top: 85%;
  right: 37%;
}
.left-icon-div {
  left: 20px;
  position: absolute;
  top: 40%;
}
.right-icon-div {
  right: 20px;
  position: absolute;
  top: 40%;
}

@media screen and (max-width: 768px) {
    .carousel{
        border-radius: 24px 24px 12px 12px;
    }
    .carousel-slide{
      display: flex;
      justify-content: center;
    }
    .carousel-img{
      aspect-ratio: 352/198;
      width:  -webkit-fill-available;
      height: auto;
      max-width: auto;
      max-height: inherit;
    }.carousel-dots{
      right: 41%;
    }
}