.header {
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-header {
  height: 40px;
  border: 1px solid;
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-header-text {
  font-size: 14px;
  color: var(--white-color);
}

.checkout-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  color: var(--primary-gray-color);
}

.help-text{
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: right;
color: var(--primary-dark-color);

}

@media screen and (min-width: 768px) {
  .arrow-left-icon{
    display: none;
  }
}
 @media screen and (max-width: 767px) {
  .logo-icon , .help-text{
    display: none;
  }
  .header{
    padding: 16px;
  }
  .sub-header-text{
    font-size: calc(.9vw + 8px);
  }
 }
